---
import {getCollection} from "astro:content"

import Layout from "../layouts/Layout.astro"
import Main from "../components/Main.astro"
import Member from "../components/Member.astro"
import H1 from "../components/H1.astro"
import H2 from "../components/H2.astro"

const allMembers = await getCollection("member")
---

<Layout>
    <Main>
        <H1 text="Chase Waterfalls" />

        <a href="space/space-travel/">Space Travel</a>
        <a href="space/daily-picture/">Daily Picture</a>

        <p class="text-zinc-900 text-2xl mb-24 max-sm:mb-14">
            The Interaction Consortium Proposal... Ready to have your mind blown?
        </p>

        <hr class="w-full border border-teal-900 mb-16 max-sm:mb-10" />

        <H2 text="Let out team be your team"/>

        <div class="grid grid-cols-3 gap-x-6 gap-y-14 mb-16 mt-12 max-lg:grid-cols-1">
            {allMembers.map(member => <Member member={member} />)}
        </div>
    </Main>
</Layout>
